HTML {
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

BODY {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Krub', sans-serif;
  box-sizing: border-box;
}

H1 {
  font-size: 2.4rem;
  text-align: center;
}
H2 {
  font-size: 1.8rem;
  text-align: center;
}

#app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.navigation {
  width: 100%;
  background-color: #27d0f5;
  color: #fff;
  font-weight: bold;

  UL {
    list-style: none;
    display: flex;
    justify-content: center;

    LI {
      margin: 0;
      padding: 0;
      display: inline-block;

      A {
        margin: 0;
        padding: 0.5rem 1rem;
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
        font-size: 1.4rem;
        display: block;

        &.router-link-active {
          color: #000;
          background-color: #00944d
        }

      }

    }

  }

}

.main {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  height: auto;
  min-height: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}


FOOTER {
  margin: 0;
  padding: 1rem 4rem;
  background-color: $footer;
}

.loading {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;

  IMG {
    margin: 0;
    padding: 0;
    width: 20%;
    min-height: 60px;
    height: auto;
  }

}
